<div class="w-full max-w-md p-8 space-y-6 bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl shadow-2xl">
  <div class="text-center">
    <h2 class="text-3xl font-extrabold text-white">Crear cuenta</h2>
    <p class="mt-2 text-sm text-slate-400">Ingresa los datos para crear la cuenta</p>
  </div>


  <form class="max-w-md mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="floating_user_name" id="floating_user_name"
        class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="nombreUsuario" />
      <label for="floating_user_name"
        class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Username
      </label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="email" name="floating_email" id="floating_email"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none dark:text-white focus:outline-none focus:ring-0 peer"
        [ngClass]="{
      'text-red-500 border-red-500 dark:border-red-500 focus:border-red-600': form.get('correo')?.invalid && form.get('correo')?.touched,
      'text-slate-300 border-gray-300 dark:border-gray-600 focus:border-blue-600': !form.get('correo')?.invalid || !form.get('correo')?.touched
    }" placeholder=" " required formControlName="correo" />

      <label for="floating_email"
        [ngClass]="{'text-red-500': form.get('correo')?.invalid && form.get('correo')?.touched}"
        class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Email address
      </label>

      <!-- Mensaje de error dinámico -->
      @if (form.get('correo')?.invalid && form.get('correo')?.touched) {
      <div class="text-red-500 text-xs mt-1 animate-pulse">
        @if (form.get('correo')?.hasError('required')) {
        <span>El correo es obligatorio.</span>
        } @else if (form.get('correo')?.hasError('email')) {
        <span>Formato de correo no válido.</span>
        }
      </div>
      }
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="password" name="floating_password" id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="contrasena" />
      <label for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>

      <!-- ALERTA DE TAMAÑO PARA LA PRIMERA CONTRASEÑA -->
      @if (form.get('contrasena')?.invalid && (form.get('contrasena')?.dirty || form.get('contrasena')?.touched)) {
      <div class="mt-2 text-xs text-red-500 font-medium">
        @if (form.get('contrasena')?.hasError('required')) {
        <span>La contraseña es obligatoria.</span>
        }
        @if (form.get('contrasena')?.hasError('minlength')) {
        <span>La contraseña debe tener al menos 6 caracteres.</span>
        }
      </div>
      }
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input type="password" name="repeat_password" id="floating_repeat_password"
        class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="contrasenaDos" />
      <label for="floating_repeat_password"
        class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Confirm password</label>

      <!-- ALERTA DE COINCIDENCIA CON EL NUEVO @if -->
      @if (form.get('contrasenaDos')?.invalid && (form.get('contrasenaDos')?.dirty ||
      form.get('contrasenaDos')?.touched)) {
      <div class="mt-2 text-xs text-red-500 font-medium">
        @if (form.get('contrasenaDos')?.hasError('required')) {
        <span>La confirmación es obligatoria.</span>
        }
        @if (form.get('contrasenaDos')?.hasError('noCoinciden')) {
        <span>Las contraseñas no coinciden.</span>
        }
      </div>
      }
    </div>


    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_first_name" id="floating_first_name"
          class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required formControlName="nombre" />
        <label for="floating_first_name"
          class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          First name
        </label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_last_name" id="floating_last_name"
          class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required formControlName="apellido" />
        <label for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Last name</label>
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="tel" pattern="^\+?[0-9]{7,15}$" name="floating_phone" id="floating_phone"
        class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="telefonoUno" />

      <label for="floating_phone"
        class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Teléfono (Ej: +573101234567)
      </label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="tel" name="floating_phone" id="floating_phone"
        class="block py-2.5 px-0 w-full text-sm text-slate-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="telefonoDos" />
      <label for="floating_phone"
        class="peer-focus:font-medium absolute text-sm text-slate-300 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Phone number (123-456-7890)
      </label>
    </div>

    <button type="submit" [disabled]="form.invalid" [ngClass]="{
    'bg-blue-600 hover:bg-blue-700': form.valid,
    'bg-gray-500 cursor-not-allowed opacity-50': form.invalid
  }"
      class="w-full py-3 px-5 text-base font-medium text-center text-white bg-blue-600 rounded-xl hover:bg-blue-700 focus:ring-4 focus:ring-blue-800 transition duration-300">
      Guardar
    </button>
  </form>

</div>
